<div class="log-record log-level-{{level}}">
  <span class="log-created  log-dbg">{{unixtime_format created}}</span>
  <span class="log-level text-{{get_level_class level}} log-dbg">{{format_level level}}</span>
  <span class="log-source log-dbg">{{source}}:</span>
  <span class="log-message">{{message}}</span>
</div>